rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // allow read, write;
      // allow read,create,delete;

      //ONLY AUTHENTICATED USERS ARE ALLOWED TO CREATE NEW DOCUMENTS
      allow create: if request.auth != null;

      //ALLOW READ AND DELETE ONLY IF THE UID OF THE USER WHO MAKING THE REQUEST MATCHES THE UID OF THE DOCUMENT(RESOURCE) TO BE READ/DELETED
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}